# pandas入门

## 概述

pandas是一个Python软件包，提供快速，灵活和富于表现力的数据结构，旨在使使用“关系”或“标记”数据既简单又直观。它旨在成为在Python中进行实际，现实世界数据分析的基本高级构建块。此外，其更广泛的目标是成为任何语言中可用的最强大，最灵活的开源数据分析/操作工具。它已经朝着这个目标迈进了。

熊猫非常适合许多不同类型的数据：

具有异构类型列的表格数据，例如在SQL表或Excel电子表格中
有序和无序（不一定是固定频率）时间序列数据。
具有行和列标签的任意矩阵数据（同类型或异类）
观察/统计数据集的任何其他形式。实际上，数据根本不需要标记即可放入熊猫数据结构
大熊猫的两个主要数据结构Series（一维）和DataFrame（二维）处理了金融，统计，社会科学和许多工程领域中的绝大多数典型用例。对于R用户，DataFrame提供R 提供的一切 data.frame以及更多其他功能。pandas建立在NumPy之上，旨在与许多其他第三方图书馆很好地集成在科学计算环境中。

**pandas优点**

轻松处理浮点数据和非浮点数据中的缺失数据（表示为NaN）

大小可变性：可以从DataFrame和更高维度的对象中插入和删除列

自动和显式的数据对齐：可以将对象显式地对齐到一组标签，或者用户可以简单地忽略标签并让Series，DataFrame等自动为您对齐数据

强大，灵活的分组功能，可对数据集执行拆分应用合并操作，以汇总和转换数据

使它易于转换衣衫褴褛，在其他Python和NumPy的数据结构不同索引的数据转换成数据帧对象

基于智能标签的切片，花式索引和 大数据集子集

直观的合并和联接数据集

灵活地重塑和旋转数据集

轴的分层标签（每个刻度可能有多个标签）

强大的IO工具，用于从平面文件（CSV和定界），Excel文件，数据库加载数据，以及从超快HDF5格式保存/加载数据

特定于时间序列的功能：日期范围生成和频率转换，移动窗口统计信息，移动窗口线性回归，日期平移和滞后等。

**数据结构**

|Dimensions|Name|Description|

|1|Series|1D labeled homogeneously-typed array|

|2|DataFrame|General 2D labeled, size-mutable tabular structure with potentially heterogeneously-typed column|

**其中DataFrame数据由若干Series类型组合而成**

## 十分钟入门

### 创建对象

In [1]:
import numpy as np
import pandas as pd

In [2]:
s=pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
dates=pd.date_range('20190101',periods=6)
# dates此处是一个索引，一个索引索引一行，也就是行索引，或记录索引
dates

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df=pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
# randn函数返回一个或一组样本，具有标准正态分布。
df

                   A         B         C         D
2019-01-01  1.144247  0.855265  0.369879  1.201484
2019-01-02  1.267681  0.602622 -1.664772 -0.672248
2019-01-03 -0.243797  0.650465  0.990953 -0.887211
2019-01-04  1.036985 -0.808909 -0.227274  0.147572
2019-01-05  0.075974  0.926822  0.776263  1.978029
2019-01-06  0.488810  1.834515  0.152809 -0.211578

DataFrame通过传递对象的字典来创建，这些对象可以转换为类似序列的对象。

In [5]:
df2=pd.DataFrame({
    'A':1.,
    'B':pd.Timestamp('20190101'),
    'C':pd.Series(1,index=list(range(4)),dtype='float32'),
    'D':np.array([3]*4,dtype='int32'),
    'E':pd.Categorical(["test","train","test","train"]),
    'F':'foo'
})
df2

     A          B    C  D      E    F
0  1.0 2019-01-01  1.0  3   test  foo
1  1.0 2019-01-01  1.0  3  train  foo
2  1.0 2019-01-01  1.0  3   test  foo
3  1.0 2019-01-01  1.0  3  train  foo

结果的列DataFrame具有不同的 dtype。

In [6]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

### 查看数据

查看DataFrame顶部和底部的数据。

In [7]:
df.head()

                   A         B         C         D
2019-01-01  1.144247  0.855265  0.369879  1.201484
2019-01-02  1.267681  0.602622 -1.664772 -0.672248
2019-01-03 -0.243797  0.650465  0.990953 -0.887211
2019-01-04  1.036985 -0.808909 -0.227274  0.147572
2019-01-05  0.075974  0.926822  0.776263  1.978029

In [8]:
df.tail()

                   A         B         C         D
2019-01-02  1.267681  0.602622 -1.664772 -0.672248
2019-01-03 -0.243797  0.650465  0.990953 -0.887211
2019-01-04  1.036985 -0.808909 -0.227274  0.147572
2019-01-05  0.075974  0.926822  0.776263  1.978029
2019-01-06  0.488810  1.834515  0.152809 -0.211578

查看索引和列

In [9]:
df.index

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06'],
              dtype='datetime64[ns]', freq='D')

In [10]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

**DateFrame**转换为**numpy.ndarray**。

DataFrame.to_numpy()给出基础数据的NumPy表示形式。请注意，当您的DataFrame列具有不同的数据类型时，这可能是一项昂贵的操作，这归结为**pandas和NumPy之间的根本差异：NumPy数组在整个数组中具有一个dtype，而pandas DataFrames每列具有一个dtype。** 当你调用 DataFrame.to_numpy()，熊猫会发现NumPy的D型，可容纳所有 的dtypes的数据帧。可能最终是object，这需要将每个值都转换为Python对象。

对于df，我们DataFrame所有的浮点值都 DataFrame.to_numpy()非常快，不需要复制数据。

In [11]:
df.to_numpy()

array([[ 1.14424706,  0.85526466,  0.36987949,  1.20148358],
       [ 1.26768107,  0.60262243, -1.66477173, -0.67224778],
       [-0.24379669,  0.65046548,  0.9909529 , -0.8872109 ],
       [ 1.036985  , -0.8089087 , -0.22727403,  0.1475719 ],
       [ 0.0759743 ,  0.92682225,  0.77626314,  1.97802861],
       [ 0.48880958,  1.83451467,  0.1528085 , -0.21157757]])

快速统计数据。

In [12]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.628317  0.676797  0.066310  0.259341
std    0.620823  0.854189  0.953045  1.118769
min   -0.243797 -0.808909 -1.664772 -0.887211
25%    0.179183  0.614583 -0.132253 -0.557080
50%    0.762897  0.752865  0.261344 -0.032003
75%    1.117432  0.908933  0.674667  0.938006
max    1.267681  1.834515  0.990953  1.978029

In [13]:
df.T

   2019-01-01  2019-01-02  2019-01-03  2019-01-04  2019-01-05  2019-01-06
A    1.144247    1.267681   -0.243797    1.036985    0.075974    0.488810
B    0.855265    0.602622    0.650465   -0.808909    0.926822    1.834515
C    0.369879   -1.664772    0.990953   -0.227274    0.776263    0.152809
D    1.201484   -0.672248   -0.887211    0.147572    1.978029   -0.211578

In [14]:
df.sort_index(axis=1,ascending=False)
# 索引排序，axis=1表示列索引，ascending意思为上升的
# 根据列索引排序，附带每列的数据

                   D         C         B         A
2019-01-01  1.201484  0.369879  0.855265  1.144247
2019-01-02 -0.672248 -1.664772  0.602622  1.267681
2019-01-03 -0.887211  0.990953  0.650465 -0.243797
2019-01-04  0.147572 -0.227274 -0.808909  1.036985
2019-01-05  1.978029  0.776263  0.926822  0.075974
2019-01-06 -0.211578  0.152809  1.834515  0.488810

In [15]:
df.sort_values(by='B')
# 根据某一列的数据排序，附带该行数据

                   A         B         C         D
2019-01-04  1.036985 -0.808909 -0.227274  0.147572
2019-01-02  1.267681  0.602622 -1.664772 -0.672248
2019-01-03 -0.243797  0.650465  0.990953 -0.887211
2019-01-01  1.144247  0.855265  0.369879  1.201484
2019-01-05  0.075974  0.926822  0.776263  1.978029
2019-01-06  0.488810  1.834515  0.152809 -0.211578

### 选择

#### 取行或列

In [16]:
df['A']

2019-01-01    1.144247
2019-01-02    1.267681
2019-01-03   -0.243797
2019-01-04    1.036985
2019-01-05    0.075974
2019-01-06    0.488810
Freq: D, Name: A, dtype: float64

In [17]:
df.A

2019-01-01    1.144247
2019-01-02    1.267681
2019-01-03   -0.243797
2019-01-04    1.036985
2019-01-05    0.075974
2019-01-06    0.488810
Freq: D, Name: A, dtype: float64

In [18]:
df[0:3]

                   A         B         C         D
2019-01-01  1.144247  0.855265  0.369879  1.201484
2019-01-02  1.267681  0.602622 -1.664772 -0.672248
2019-01-03 -0.243797  0.650465  0.990953 -0.887211

#### 根据标签值取 .loc[]

In [19]:
df['20190102':'20190104']

                   A         B         C         D
2019-01-02  1.267681  0.602622 -1.664772 -0.672248
2019-01-03 -0.243797  0.650465  0.990953 -0.887211
2019-01-04  1.036985 -0.808909 -0.227274  0.147572

根据标签获取一行数据。

In [20]:
df.loc[dates[0]]

A    1.144247
B    0.855265
C    0.369879
D    1.201484
Name: 2019-01-01 00:00:00, dtype: float64

获取多列数据。

In [21]:
df.loc[:,['A','B']]

                   A         B
2019-01-01  1.144247  0.855265
2019-01-02  1.267681  0.602622
2019-01-03 -0.243797  0.650465
2019-01-04  1.036985 -0.808909
2019-01-05  0.075974  0.926822
2019-01-06  0.488810  1.834515

选择任意行列

In [22]:
df.loc['20190102':'20190104','A':'B']

                   A         B
2019-01-02  1.267681  0.602622
2019-01-03 -0.243797  0.650465
2019-01-04  1.036985 -0.808909

In [23]:
df.loc['20190102':'20190104',['A','B']]

                   A         B
2019-01-02  1.267681  0.602622
2019-01-03 -0.243797  0.650465
2019-01-04  1.036985 -0.808909

获取单个数据（标量）

使用标签取值，并不能像numpy一样通过`[]`返回单个数据,必须使用`at[]`，或`loc[]`,因为DataFrame的`[]`只能用来获取一行或者一列。

使用位置取值，也就是整数类型值索引取值，和numpy一样。

In [24]:
df.loc[dates[0],'A']

1.1442470632202668

In [25]:
df.at[dates[0],'A']

1.1442470632202668

#### 根据位置取 .iloc[]

通过传递的整数的位置进行选择：

In [26]:
df.iloc[3]

A    1.036985
B   -0.808909
C   -0.227274
D    0.147572
Name: 2019-01-04 00:00:00, dtype: float64

**通过整数切片，其行为类似于numpy / python：** （优先使用这个）

In [27]:
df.iloc[2:5,0:2]

                   A         B
2019-01-03 -0.243797  0.650465
2019-01-04  1.036985 -0.808909
2019-01-05  0.075974  0.926822

**通过整数位置位置列表，类似于numpy / python样式：**

In [28]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2019-01-02  1.267681 -1.664772
2019-01-03 -0.243797  0.990953
2019-01-05  0.075974  0.776263

In [29]:
df.iloc[1:3,:]

                   A         B         C         D
2019-01-02  1.267681  0.602622 -1.664772 -0.672248
2019-01-03 -0.243797  0.650465  0.990953 -0.887211

In [30]:
df.iloc[:,1:3]

                   B         C
2019-01-01  0.855265  0.369879
2019-01-02  0.602622 -1.664772
2019-01-03  0.650465  0.990953
2019-01-04 -0.808909 -0.227274
2019-01-05  0.926822  0.776263
2019-01-06  1.834515  0.152809

In [31]:
df.iloc[1,2]

-1.664771731985072

In [32]:
df.iat[1,2]

-1.664771731985072

**总结：`loc[]`=`at[]`,`iloc[]`=`iat[]`**

#### 布尔索引筛选取值

In [33]:
df[df.A>0]

                   A         B         C         D
2019-01-01  1.144247  0.855265  0.369879  1.201484
2019-01-02  1.267681  0.602622 -1.664772 -0.672248
2019-01-04  1.036985 -0.808909 -0.227274  0.147572
2019-01-05  0.075974  0.926822  0.776263  1.978029
2019-01-06  0.488810  1.834515  0.152809 -0.211578

In [34]:
df[df>0]

                   A         B         C         D
2019-01-01  1.144247  0.855265  0.369879  1.201484
2019-01-02  1.267681  0.602622       NaN       NaN
2019-01-03       NaN  0.650465  0.990953       NaN
2019-01-04  1.036985       NaN       NaN  0.147572
2019-01-05  0.075974  0.926822  0.776263  1.978029
2019-01-06  0.488810  1.834515  0.152809       NaN

In [35]:
df2=df.copy()

In [36]:
df2['E']=['one', 'one', 'two', 'three', 'four', 'three']

In [37]:
df2

                   A         B         C         D      E
2019-01-01  1.144247  0.855265  0.369879  1.201484    one
2019-01-02  1.267681  0.602622 -1.664772 -0.672248    one
2019-01-03 -0.243797  0.650465  0.990953 -0.887211    two
2019-01-04  1.036985 -0.808909 -0.227274  0.147572  three
2019-01-05  0.075974  0.926822  0.776263  1.978029   four
2019-01-06  0.488810  1.834515  0.152809 -0.211578  three

In [38]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2019-01-03 -0.243797  0.650465  0.990953 -0.887211   two
2019-01-05  0.075974  0.926822  0.776263  1.978029  four

#### 设置值

In [39]:
s1=pd.Series([1,2,3,4,5,6],index=pd.date_range('20190101',periods=6))
s1

2019-01-01    1
2019-01-02    2
2019-01-03    3
2019-01-04    4
2019-01-05    5
2019-01-06    6
Freq: D, dtype: int64

In [40]:
df['F']=s1

In [41]:
df

                   A         B         C         D  F
2019-01-01  1.144247  0.855265  0.369879  1.201484  1
2019-01-02  1.267681  0.602622 -1.664772 -0.672248  2
2019-01-03 -0.243797  0.650465  0.990953 -0.887211  3
2019-01-04  1.036985 -0.808909 -0.227274  0.147572  4
2019-01-05  0.075974  0.926822  0.776263  1.978029  5
2019-01-06  0.488810  1.834515  0.152809 -0.211578  6

In [42]:
df.at[dates[0],'A']=0

In [43]:
df.iat[0,1]=0

In [44]:
df.at[:,'D']=np.array([5]*len(df))

In [45]:
df

                   A         B         C  D  F
2019-01-01  0.000000  0.000000  0.369879  5  1
2019-01-02  1.267681  0.602622 -1.664772  5  2
2019-01-03 -0.243797  0.650465  0.990953  5  3
2019-01-04  1.036985 -0.808909 -0.227274  5  4
2019-01-05  0.075974  0.926822  0.776263  5  5
2019-01-06  0.488810  1.834515  0.152809  5  6

In [46]:
df2=df.copy()

### 丢失的数据

In [47]:
df1=df.reindex(index=dates[0:4],columns=list(df.columns)+['E'])

In [50]:
df1.loc[dates[0]:dates[1],'E']=1
df1

                   A         B         C  D  F    E
2019-01-01  0.000000  0.000000  0.369879  5  1  1.0
2019-01-02  1.267681  0.602622 -1.664772  5  2  1.0
2019-01-03 -0.243797  0.650465  0.990953  5  3  NaN
2019-01-04  1.036985 -0.808909 -0.227274  5  4  NaN

删除任何缺少数据的行。

In [51]:
df1.dropna(how='any')

                   A         B         C  D  F    E
2019-01-01  0.000000  0.000000  0.369879  5  1  1.0
2019-01-02  1.267681  0.602622 -1.664772  5  2  1.0

填充值

In [52]:
df1.fillna(value=5)

                   A         B         C  D  F    E
2019-01-01  0.000000  0.000000  0.369879  5  1  1.0
2019-01-02  1.267681  0.602622 -1.664772  5  2  1.0
2019-01-03 -0.243797  0.650465  0.990953  5  3  5.0
2019-01-04  1.036985 -0.808909 -0.227274  5  4  5.0

返回布尔值。

In [53]:
pd.isna(df1)

                A      B      C      D      F      E
2019-01-01  False  False  False  False  False  False
2019-01-02  False  False  False  False  False  False
2019-01-03  False  False  False  False  False   True
2019-01-04  False  False  False  False  False   True

### 操作

#### 统计

操作通常排除丢失的数据。

In [55]:
df.mean()

A    0.437609
B    0.534253
C    0.066310
D    5.000000
F    3.500000
dtype: float64

另一个轴上的操作

In [56]:
df.mean(1)

2019-01-01    1.273976
2019-01-02    1.441106
2019-01-03    1.879524
2019-01-04    1.800160
2019-01-05    2.355812
2019-01-06    2.695227
Freq: D, dtype: float64